.logo-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title img{
  height: 70px;
  display: flex;
  border-radius: 5px;
}

ion-header ion-toolbar{
  --background: #F4C581FF;
}
.bg-gradient {
  --background: linear-gradient(
      360deg,
      #52599FFF,
      #D8B488FF
  );
}
.card-content{
  font-size: 12px;
}
.transparent-col {
  background: transparent !important;

}

ion-item {
  --background: transparent !important;

}
ion-modal{
  --border-radius: 15px;
  --height: 50vh;
  --width: 68vw;

}
ion-modal ion-card{
  --border-radius: 15px;

}
.img-icon-list{
  width: 120px;
  height: 90px;

}

.search-gradient {
  --background: linear-gradient(
      360deg,
      #838efb,
      #fff,
      #D8B488FF
  );
}
.margen-izq{
  margin-left: 35px;
}
