<ion-header class="">
  <ion-toolbar>
    <div class="logo-title ion-padding">
      <img src="/assets/images/header.png" routerLink="/">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding bg-gradient">
  <ion-grid>
    <ion-row class="">
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img src="/assets/images/categoria-rifles.png" alt="Categoria Rifles">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('Rifles')" class="boton-transparent">
                  <ion-card-title class="card-content">Rifles</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
        </ion-col>
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img class="img-botones" src="/assets/images/categoria-pistolas.png" alt="Categoria Pistolas">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('Pistols')" class="boton-transparent">
                <ion-card-title class="card-content">Pistolas</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img src="/assets/images/categoria-smgs.png" alt="Categoria Rifles">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('SMGs')" class="boton-transparent">
                  <ion-card-title class="card-content">SMGs</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
        </ion-col>
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img class="img-botones" src="/assets/images/categoria-cuchillos.png" alt="Categoria Pistolas">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('Knives')" class="boton-transparent">
                <ion-card-title class="card-content">Cuchillos</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img class="img-botones" src="/assets/images/categoria-guantes.png" alt="Categoria Pistolas">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('Gloves')" class="boton-transparent">
                <ion-card-title class="card-content">Guantes</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="transparent-col">
            <ion-card class="bg-card">
              <ion-card-header>
                <img class="img-botones" src="/assets/images/categoria-cajas.png" alt="Categoria Pistolas">
              </ion-card-header>
              <ion-card-content class="center-button">
                <ion-button (click)="abrirCategoria('Heavy')" class="boton-transparent">
                <ion-card-title class="card-content">Cajas</ion-card-title>
                </ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
