:root{
  --ion-color-youtube: #ff0000;
  --ion-color-youtube-rgb: 255,0,0;
  --ion-color-youtube-contrast: #000000;
  --ion-color-youtube-contrast-rgb: 0,0,0;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;
}
.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube);
  --ion-color-base-rgb: var(--ion-color-youtube-rgb);
  --ion-color-contrast: var(--ion-color-youtube-contrast);
  --ion-color-contrast-rgb: var(--ion-color-contrast-rgb);
  --ion-color-shade: var(--ion-color-youtube-shade);
  --ion-color-tint: var(--ion-color-youtube-tint);
}
